<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<div id="students">
  <%= search_form_for @q do |f| %>
    <% options = Student::SCOPES_FOR_SELECT.map { |name| [t(".for_select_#{name}"), name] } %>
    <%= f.select :for_select, options, { include_blank: true } %>
    <%= f.submit '検索' %>
  <% end %>
  <ul>
    <% @students.each do |student| %>
      <%= render student %>
    <% end %>
  </ul>
</div>
